/**
 * simplicity.css
 *
 * 
 */
 
/* Adaptations for clashes between prism and zurb */
code[class*="language-"], pre[class*="language-"]{
  border-width: 0;
}
 
/* Footer at bottom: https://foundation.zurb.com/forum/posts/53901-foundation-6-sticky-footer-pushed-down-with-off-canvas-and-flexbox-css-tutorial */
  body {
     margin:0;
  }
  #simplicity-wrapper{
    overflow: visible;
  }
  #simplicity-inner-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;    
  }
  #simplicity-content{
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
    
    height:60px; 
    padding: 10px;
    background-color: #dddddd;
    overflow: hidden;
  }
  footer .cell{
    display: flex;
    align-items: center;  
    justify-content: center;
  }
  
ul.simplicity.root{
	background-color: #2199E8;
	font-weight: bold;
}
ul.simplicity.dropdown, .dropdown.menu .simplicity.menu{
	background-color: #1189D8;
	border: 0px;
	border-top: 1px solid #2199E8;
	margin-top: -1px; /* Visual fix in zurb dropdown menu css. */
}
ul.simplicity.accordion li a::after{
	border-color: white transparent transparent;
}
ul.simplicity.breadcrumbs{
	padding: 10px;
	border-bottom: 1px solid #1189D8;
}
li.simplicity a{
	color: #FAFAFA;
}

.button.top-margin{
	margin-top: 10px;
}
